<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>お勤め先の入力</title>

    <script src="/assets/js/metrixir.client.js"></script>
</head>
<body>
<div class="full height image" layout:fragment="content">
    <div class="ui main container">
        <div class="ui information container">
            <div class="ui middle center aligned grid">
                <div class="center column">
                    <div class="ui segment metrixir">
                        <h1 class="ui aligned header teal">お申込み情報</h1>

                        <form class="ui form" method="post" action="/cardOrder/">

                            <!-- /*エラーがあれば表示する*/ -->
                            <ul class="ui red basic label" th:if="${form.hasErrors()}">
                                <li th:each="error : ${form.getErrors().entrySet()}" th:text="${error.value}"></li>
                            </ul>

                            <div class="ui horizontal divider">お勤め先について</div>
                            <br>
                            <div class="ui statement">ご職業が「経営・自営業」、「会社員」、「契約・派遣社員」、「公務員」、「民間団体」、「その他（有職）」の方は、以下の項目をご入力ください。</div>
                            <div class="field" th:classappend="${form.hasErrors('employerName')} ? 'error'">
                                <label>お勤め先名</label>
                                <input type="text" name="employerName" th:value="${form.employerName}"/>
                            </div>
                            <br>

                            <div class="field" th:classappend="${form.hasErrors('department')} ? 'error'">
                                <label>所属部署</label>
                                <input type="text" name="department" th:value="${form.department}"/>
                            </div>
                            <br>

                            <div class="field" th:classappend="${form.hasErrors('position')} ? 'error'">
                                <label>役職</label>
                                <input type="text" name="position" th:value="${form.position}"/>
                            </div>
                            <br>

                            <div class="field" th:classappend="${form.hasErrors('employeeLength')} ? 'error'">
                                <label>勤続年数</label>
                                <input type="text" class="number" name="employeeLength" th:value="${form.employeeLength}"/><span class="unit">年</span >
                            </div>
                            <br>

                            <div class="field" th:classappend="${form.hasErrors('e_number')} ? 'error'">
                                <label>お勤め先郵便番号</label>
                                <span style="display:flex; align-items:center">
                                <input type="text"  name="employerAddress_1"
                                       style="width:60px;height:30px;" th:value="${form.employerAddress}"/>
                                    <span>
                                        &nbsp;-&nbsp;
                                    </span>
                                <input type="text" name="employerAddress_2"
                                       style="width:70px;height:30px;" th:value="${form.employerAddress}"/>
                            </div>
                            <br>

                            <div class="field" th:classappend="${form.hasErrors('employerAddress')} ? 'error'">
                                <label>お勤め先住所</label>
                                <input type="text" name="employerAddress" th:value="${form.employerAddress}"/>
                            </div>
                            <br>

                            <div class="field" th:classappend="${form.hasErrors('employerPhoneNumber')} ? 'error'">
                                <label>お勤め先電話番号</label>
                                <span style="display:flex; align-items:center">
                                <input type="text"  name="employerPhoneNumber_1"
                                       style="width:60px;height:30px;" th:value="${form.employerPhoneNumber}"/>
                                    <span>
                                        &nbsp;-&nbsp;
                                    </span>
                                <input type="text" name="employerPhoneNumber_2"
                                       style="width:70px;height:30px;" th:value="${form.employerPhoneNumber}"/>
                                    <span>
                                        &nbsp;-&nbsp;
                                    </span>
                                <input type="text" name="employerPhoneNumber_3"
                                       style="width:70px;height:30px;" th:value="${form.employerPhoneNumber}"/>
                                </span>
                            </div>
                            <br>

                            <div class="field" th:classappend="${form.hasErrors('industryType')} ? 'error'">
                                <label>業種</label>
                                <select name="pref">
                                    <option value="">選択してください</option>
                                    <option value="農林水鉱" th:checked="${form.industryType}=='農林水鉱'">農業・林業・水産業・鉱業</option>
                                    <option value="建築不動産" th:checked="${form.industryType}=='建築不動産'">建設・不動産業</option>
                                    <option value="製造" th:checked="${form.industryType}=='製造'">製造業</option>
                                    <option value="卸小売流通" th:checked="${form.industryType}=='卸小売流通'">卸売業・小売・その他流通業</option>
                                    <option value="金融保険" th:checked="${form.industryType}=='金融保険'">金融・保険業</option>
                                    <option value="運輸通信" th:checked="${form.industryType}=='運輸通信'">運輸・通信業</option>
                                    <option value="電気ガス" th:checked="${form.industryType}=='電気ガス'">電気・ガス業</option>
                                    <option value="官公庁" th:checked="${form.industryType}=='官公庁'">官公庁</option>
                                    <option value="サービス" th:checked="${form.industryType}=='サービス'">その他サービス業</option>
                                    <option value="その他" th:checked="${form.industryType}=='その他'"/>その他・不明</option>
                                </select>
                            </div>

                            <div>

                                <br>
                                <br>
                            </div>

                            <div class="ui column grid">
                                <div class="eight wide column left aligned">
                                    <!--/*戻る場合、formの送り先を強制的に書き換える*/-->
                                    <button class="ui button angle left icon" onclick="form.action='/cardOrder/modify';return true">戻る</button>
                                </div>
                                <br>
                                <div class="eight wide column right aligned">
                                    <button class="ui teal button angle right icon">カードを申し込む</button>
                                </div><div>

                                <br>
                                <br>
                            </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
